<h1>My Discounts</h1>
<ul>
  <% @discounts.each do |discount| %>
    <li id="bulk-discount-<%= discount.id %>">
    bulk amount:<%= discount.quantity_threshold %>
    percentage:<%= link_to "#{percentage(discount.discount)}", merchant_bulk_discount_path(params[:merchant_id],discount.id) %>
    </li>
  <% end %>
</ul>