<section id="discount-attributes">
  <ul>
    <li>Bulk Amount: <%= @discount.quantity_threshold %></li>
    <li>Percentage: <%= @discount.discount %></li>
    <li><%= link_to 'Edit Discount', edit_merchant_bulk_discount_path %></li>
  </ul>
</section>